@import "tailwindcss";

@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF) format('opentype');
    font-weight: normal;
    font-style: normal;
}






/*

Colors:

Bravo-logo-green: [#29f185]


Header-text: [#ffffff] White

Main-background: [#f5fdf9]
Main-text:

HamburgerMenu: [#ff75d1]
Hover: [#ffbae8]


Blue-colors:
[#002250] Dark-blue 


*/




